@import 'mixins';
@import 'tailwind';
@import 'icon';
@import 'angular-material';

@import 'button';

html,
body {
  height: 100%;
}
body {
  font-family: Comfortaa;
}

.dark {
  body {
    background-color: gray; // TODO: Update temporary color
  }
}
